@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ibarra+Real+Nova:wght@500&family=Inter:wght@300;400&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contenedorCarga {
    background-color: rgb(24, 25, 99);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 10000;
}

#carga {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30vh;
    margin: auto;
}
.loader{
    margin-top: 10px;
        display: block;
        position: relative;
        height: 12px;
        width: 80%;
        border: 1px solid #fff;
        border-radius: 10px;
        overflow: hidden;
      }
      .loader:after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background: #ffffff;
        animation: 1.5s prog ease-in infinite;
      }
      
      @keyframes prog {
        to  {   width: 100%;}
      }
      
#carga img {
    width: 200px;
}

.gContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: white;
}

.footerP {
    color: white;
}

.title,
.titulos {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}
.marcoFoto {
    width: 1000px;
}
.titulos {
    font-size: 4rem;
}

#backgroundNav {
    padding: 0;
    background-color: rgb(24, 25, 99);
    margin-bottom: -40px;
}

#logoImg {
    margin-left: 30px;
    margin-right: 20px;
    width: 70px;
}

.container-fluid {
    background-color: rgb(24, 25, 99);
}

.navbar-nav {
    background-color: rgb(24, 25, 99);
}

.nav-link:hover {
    text-decoration: underline;
    font-size: 20px;
    transition: .2s;
}

#cambios {
    color: white;
}

.destacado {
    background-color: black;
}

.destacadoTitle {
    font-size: 50px;
    color: white;
}

.titulos {
    margin-left: 5%;
    margin-top: 100px;
}

.imagenArticulo {
    width: 100%;
}

.pContainer {
    width: 90%;
}

.pContainer::first-letter {
    font-size: 200%;
}

.contenedorArticulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.destacado {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.destacadoTitle {
    margin-top: 1vh;
}

.imagenesContainer {
    filter: brightness(.5);
}

.duoImagenes {
    display: flex;
    flex-direction: row;
}

.duoContainer {
    display: flex;
    flex-direction: column;
}

.marcoFoto {
    overflow: hidden;
    box-sizing: border-box;
}

.marcoFoto img {
    transition: all .4s ease;
    width: 100%;
}

.marcoFoto img:hover {
    transform: scale(1.2);
}

.duoContainer h3 {
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 50px
}

.lineaPortada {
    width: 200px;
    background-color: rgb(24, 25, 99);
    height: 2px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: rgb(24, 25, 99);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

form button {
    margin: 20px 0px;
    border-radius: 20px;
    padding: 5px;
    border: solid 1px transparent;
    background-color: white;
}

form input {
    background-color: rgb(24, 25, 99);
    border: none;
    border-bottom: solid 1px white;
    color: white;
}

form button {
    color: black;
}

form button:hover {
    border: solid 1px white;
    padding: 8px;
    background-color: rgb(226, 226, 226);
    transition: .2s;
}

.icon {
    width: 40px;
    margin: 5px;
}

.icon:hover,
.icon:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.50em);
    transition: .2s;
}

.redes {
    margin-bottom: 20px;
}

.heini,
.adidas {
    width: 100px;
    margin: 10px;
}

.adidas {
    margin-bottom: 5vh;
}

.tellerInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    filter: brightness(1);
}

.tellerInicio p {
    font-size: 25px;
    margin-bottom: 0;
}

.inputInicio {
    color: white;
    font-size: 20px;
    border: none;
    border-bottom: solid 2px white;
}

.tellerInicio .title {
    color: black;
}

.tellerInicio button {
    font-size: 20px;
}

body {
    margin: 10%;
}

.slide {
    margin-top: 6vh;
}
.messiCont img {
    width: 600px;
}
/* .transferencia {
    display: flex;
    flex-direction: row;
    height: 10px;
    width: 150px;
    border-radius: 10px;
    border: 1px black;
    margin-left: 100vh;
}
.rojo {
    background-color: red;
    width: 30px;
    height: 10px;
}
.naranja {
    background-color: orangered;
    width: 30px;
    height: 10px;
}  
.amarillo {
    background-color: orange;
    width: 30px;
    height: 10px;
} 
.verdeClaro {
    background-color: greenyellow;
    width: 30px;
    height: 10px;
} 
.verdeOscuro {
    background-color: green;
    width: 30px;
    height: 10px;
} */




@media (min-width: 1100px) {
    .imagenesContainer {
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        width: 85%;
    }

    .duoContainer h3 {
        margin-top: 0;
    }

    .lineaPortada {
        width: 240px;
        background-color: rgb(24, 25, 99);
        height: 2px;
        margin-left: 5px;
        margin-bottom: 0;
    }

    .marcoFoto {
        margin: 5px;
    }

    .contenedorArticulo {
        flex-direction: row;
        padding: 20px;
    }

    .contenedorArticulo p {
        margin-left: 20px;
    }

    .duoContainer {
        width: 50%;
    }

    .portadaContainer {
        display: flex;
        justify-content: center;
    }
    .recienteContainer {
        width: 87%;
    }
    .recienteContainer img {
        width: 600px;
    }
    .recienteContainer p{
        text-align: justify;
    }
    footer {
        height: 250px;
        flex-direction: row;
    }

    .redes {
        margin: 0px 50px;
    }

    .imagenArticulo {
        width: 250%;
    }

    .reciente {
        margin-top: 40px;
    }
    .navBar-collapse {
        justify-content: end;
    }
    .tellerInicio {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0;
    }
    .heiContainer {
        width: 50%;
        display: flex;
        justify-content: end;
    }
    .navbar-nav {
        width: 50%;
    }

    .adidas {
        margin-top: 2.2vh;
    }
    .sliderContainer {
        display: flex;
    }
    .tablaSlide img{
        margin-top: 2vh;
    }
    .duoContainer h3 {
        margin-left: 5px;
    }
}
/* BOTON FIXED */


.arriba{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background-color: rgb(24, 25, 99);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.arriba:hover{
    background-color: rgb(14, 15, 54);
    box-shadow: rgb(24, 25, 99) 2px 2px 10px;
}
.arriba img {
    width: 70%;
    margin-bottom: 1vh;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .arriba{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}